{
  "openapi": "3.0.1",
  "info": {
    "title": "Entropi API",
    "description": "A guide to Entropi's public APIs",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/products/getOne": {
      "get": {
        "description": "Returns a single product by productID",
        "parameters": [
          {
            "name": "productID",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "object",
              "properties": {
                "productID": {
                  "description": "A valid productID",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/getAll": {
      "get": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/addOne": {
      "post": {
        "description": "Creates a new product under a given user and/or organization",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "JSON representation of your product",
            "schema": {
              "$ref": "#/components/schemas/Product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "productID": {
                      "description": "URL to product page, if applicable",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/updateOne": {
      "post": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "required": [
          "name",
          "desc",
          "orgID",
          "userID"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "Name of the product",
            "type": "string"
          },
          "desc": {
            "description": "A detailed description of the product",
            "type": "string"
          },
          "url": {
            "description": "URL to product page, if applicable",
            "type": "string"
          },
          "orgID": {
            "description": "Organization ID. See Organizations endpoint for details",
            "type": "string"
          },
          "userID": {
            "description": "User ID. See Users endpoint for details",
            "type": "string"
          },
          "imageLink": {
            "description": "URL to an image of the product",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}