{
  "openapi": "3.0.1",
  "info": {
    "title": "Entropi API",
    "description": "A guide to Entropi's public APIs",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/products/getOne": {
      "get": {
        "description": "Returns a single product by productID",
        "parameters": [
          {
            "name": "productID",
            "in": "query",
            "description": "The productID to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/getAll": {
      "get": {
        "description": "Returns a list of all products under a given user and/or organization",
        "parameters": [
          {
            "name": "userID",
            "in": "query",
            "description": "Retrieve products associated with this userID ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgID",
            "in": "query",
            "description": "Retrieve products associated with this orgID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products" : {
                      "description": "Array of JSON objects with product details matching query",
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/addOne": {
      "post": {
        "description": "Creates a new product under a given user and/or organization",
        "requestBody": 
          {
            "required": true,
            "description": "JSON representation of your product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
        "responses": {
          "200": {
            "description": "API Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "productID": {
                      "description": "Created product's productID",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/updateOne": {
      "post": {
        "description": "Updates a product by productID",
        "requestBody": 
          {
            "required": true,
            "description": "JSON representation of your product with updated fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
        "responses": {
          "200": {
            "description": "API Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "Outcome of the operation",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "required": [
          "name",
          "desc",
          "orgID",
          "userID"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "Name of the product",
            "type": "string"
          },
          "desc": {
            "description": "A detailed description of the product",
            "type": "string"
          },
          "url": {
            "description": "URL to product page, if applicable",
            "type": "string"
          },
          "orgID": {
            "description": "Organization ID. See Organizations endpoint for details",
            "type": "string"
          },
          "userID": {
            "description": "User ID. See Users endpoint for details",
            "type": "string"
          },
          "imageLink": {
            "description": "URL to an image of the product",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}